<div class="text-center">
    <a asp-controller="Content" asp-action="Create" asp-route-discriminator="Film">
       <span class="btn btn-primary">
           Aggiungi Film
       </span>
   </a>
   <a asp-controller="Content" asp-action="Create" asp-route-discriminator="Series">
       <span class="btn btn-primary">
           Aggiungi Serie
       </span>
   </a>
   <a asp-controller="Content" asp-action="Index">
       <span class="btn btn-primary">
           Lista Contenuti
       </span>
   </a>
</div>


