@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <a asp-controller="Content" asp-action="Create">
       <span class="btn btn-primary">
           Aggiungi Contenuto
       </span>
   </a>
</div>
