@using csharp_boolflix.Models.Form
@model ContentForm


<div class="row justify-content-center">
    <div class="col col-md-8">
        <form asp-controller="Content" asp-action="Create" method="post">

            <div class="mb-3">
                <strong>Titolo:</strong>
                <input asp-for="Content.Title" class="d-block w-100" />
                <span asp-validation-for="Content.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>Descrizione:</strong>
                <input asp-for="Content.Description" rows="5" class="d-block w-100">
                <span asp-validation-for="Content.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>Cover:</strong>
                <input asp-for="Content.Cover" class="d-block w-100">
                <span asp-validation-for="Content.Cover" class="text-danger"></span>
            </div>
            @if (@Model.Discriminator == "Film")
            {
                <div class="mb-3">
                    <strong>Link:</strong>
                    <input asp-for="Video.LinkToVideo" class="d-block w-100">
                    <span asp-validation-for="Video.LinkToVideo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <strong>Lunghezza:</strong>
                    <input asp-for="Video.Length" class="d-block w-100">
                    <span asp-validation-for="Video.Length" class="text-danger"></span>
                </div>
                <input asp-for="Video.ContentId" value="0" hidden />
            }
            <input asp-for="Discriminator" value="@Model.Discriminator" hidden/>
            <div class="mb-3">
                <strong>Categorie:</strong>
                <select asp-for="SelectedCategories"
                        asp-items="@Model.Categories"
                        multiple="true"
                        size="5"
                        class="form-control mb-2 mr-sm-2 ml-sm-3 leftList">
                </select>
            </div>
            <div class="text-end">
                <input type="submit" class="btn btn-small btn-success" value="Salva">
            </div>

        </form>
    </div>
</div>
