@model List<Content>
<div class="row row-cols-6">
    @foreach (Content content in Model)
    {
            <div class="card">
            <img class="card-img" href="@content.Cover" />
                <div class="card-body">
                    <div class="card-text">
                        Titolo: @content.Title
                    </div>
                    <div class="card-text">
                        Descrizione: @content.Description
                    </div>
                @if (content is Series)
                {
                            <a>
                                <div class="btn btn-outline-primary">
                                    Aggiungi Stagione
                                </div>
                            </a>
                }
                </div>
            </div>
    }
</div>